  <section class="container-fluid" ng-controller="subCtrl">
        <form>
            <!-- 输入框 -->
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">用户名</span>
                    <input type="text" class="form-control" placeholder="用户名" ng-model="formData.userName">
                </div>
            </div>

            <div class="from-group">
                <div class="input-group">
                    <span class="input-group-addon">密码</span>
                    <input type="password" class="form-control" placeholder="请输入用户密码" ng-model="formData.pwd">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input type="submit" value="登陆" class="btn-primary form-control" ng-click="sub()">
                </div>
            </div>

        </form>
    </section>